* {
    font-family: 'Lora', serif;
}

h2 {
    text-align: center;
    margin: 10% auto;
    font-size: 250%;
    letter-spacing: 0.15em;
}
section {
    text-align: center;
}
P {
    padding: 2% 15%;
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        margin: 0 auto;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 180%;
    }

    figure {
        img {
            width: 75vw;
        }
    }
    p {
        padding: 5% 4%;
    }
}