button, .button {
    margin: 2% auto 0 auto;
    width: 20%;
    background: #e0e0e0;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: .9375rem;
    font-weight: 700;
    padding: 14px 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover, .button:hover {
    background: #c5c5c5;
    transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
    button {
        width: 100%;
    }
}