header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    figure, small {
        margin: 0 auto;
    }
}
.home-main {
    margin-top: 5%;
    figure {
        margin: 0 auto 5% auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 720px;
        img {
            margin: 5px;
        }
        .edit-svg {
            width: 30px;
            height: 30px;
        }
    }
}

@media (max-width: 600px) {
    .home-main {
        figure {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 80vw;
            margin: 2% auto;
            img {
                width: 70vw;
            }
        }
    }
}